<h3><%= @event.name %></h3>
<br>
<strong>Location:</strong> <%= @event.location%><br><br>
<strong>Date:</strong> <%= @event.date%><br><br>
<strong>Time:</strong> <%= @event.time%><br><br>
<strong>Details:</strong><br>
<%= @event.description %>
<br>
<br>
<%@event_guest = EventGuest.find_by(event_id: @event.id, guest_id: @current_user.id)%>
<%if @event_guest%>
<div id="rsvpd"><small>You're on the guest list for this event!</small></div>
<%else%>
<form action="/event_guests" method="post">
    <input type="hidden" name="event_guest[event_id]" value="<%=@event.id%>">
    <input type="hidden" name="event_guest[guest_id]" value="<%=@current_user.id%>">
    <input type="submit" value="RSVP">
</form>
<%end%>